* {
	margin:0;
	padding:0;
	border:0}

body {
	background:#242833;
	font-family:'Source sans pro', helvetica, arial, sans-serif;
	font-size:1.2em;
	color:#c0c0c0;}



/* --- BANNER -------------------------------------------------------- */
header {
	background:#0b5e9b url('img/bg-gradient.png') repeat-x;
	min-height:500px;
	margin-bottom:50px}
	
div#logo {
	padding:5%;
	text-align:center;
	background:url('img/bg-stars.png') repeat-x;
	float:left;}
	
div#details {
	float:left;
	position:relative;
	top:70px;
	left:-100px;
	width:300px;}
	
div#details div {
	border-radius:5px;
	margin-bottom:10px;
	padding:10px;
	background:#000;
	font-size:1.35em;
	font-weight:bold;}
	
div#details img, h2 img, footer img {
	vertical-align:middle}
	
	
/* --- MENU --------------------------------------------------------- */
div#menu {
	background:#000;
	padding:15px 0;
	text-align:center;}
	
div#menu li {
	color:#3d3d3d;
	display:inline-block;}
	
div#menu a {
	color:#fff;
	font-size:0.7em;
	text-transform:uppercase;
	text-decoration:none;
	padding:0 15px}

	
/* --- CONTENT ------------------------------------------------------- */
div.hr {
	position:relative;
	top:10px;
	background-repeat:repeat-x;
	height:20px;
	clear:both;}
	
section {
	margin:0 auto;
	text-align:center}

p {
	margin-bottom:40px;
	line-height:1.5em}
	
div.col {
	width:40%;
	display:inline-block;
	padding:15px;
	text-align:left;
	vertical-align:top;}	

.byline {
	font-family:georgia;
	font-style:italic;}
	
h2 {
	text-transform:uppercase;}

.content-session, .content-talk, .content-pitch {
	margin-bottom:15px;}
		
.content-session {
	color:#b56efe;}
	
.content-pitch {
	color:#ec008c;}
	
.content-talk {
	color:#08bafe}
	
	
/* --- FOOTER ------------------------------------------------------- */

h3 {
	color:#000;
	text-align:center;
	text-transform:uppercase;
	padding:20px 0}
	
footer {
	text-align:center;
	background:#293051;
	clear:both;
	padding-bottom:50px;}
	
footer span {
	margin:10px 0;
	display:block;}
	
footer span img {
	padding:10px}

footer span.mrgs img {
	height:150px}
	
footer span.gold {}

footer span.bronze img {
	height:60px}